{% extends 'base.html' %}
{% block  content %}
	<h1>리뷰 목록</h1>

    {% if reviews %}
    <ul>
    {% for review in reviews %}
    <li><a href="/reviews/detail/{{ review.pk }}/">{{ review.review_title }}</a></li>
        <p>영화 제목: {{ review.movie_title }}</p>
        <p>리뷰 제목: {{ review.review_title }}</p>
        <p>리뷰 작성일: {{ review.created_at }}</p>
    {% endfor %}
    {% else %}
    <li>작성된 리뷰가 없습니다</li>
    </ul>
    {% endif %}

    <br>
    <a href="/reviews/create/">리뷰 작성하기</a>
{% endblock content %}