{% extends 'base.html' %}

{% block content %}
	<h1>생성 영화 상세 페이지</h1>
    <hr>
    <p>{{ movie.pk }}번째 영화</p>
    <p>영화 제목: {{ movie.title }}</p>
    <p>영화 콘텐츠: {{ movie.content }}</p>
    <p>영화 제작일: {{ movie.created_at }}</p>
    <p>영화 개봉 여부: {{ movie.is_open }}</p>
    <hr>
{#    <form action={% url 'movies:edit' movie.pk %}>#}
    <form action='/movies/edit/{{ movie.pk }}'>
{#    <form action='/movies/create/'>#}
    <input type="submit" value="수정">
    </form>
    <hr>
    <form action={% url 'movies:delete' movie.pk %}>
    <input type="submit" value="삭제">
    </form>
{% endblock content %}
